@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');


/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;   
}

body {
    font-size: 100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

/*----------------------------
/* side nav bar */

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    border-right: solid 0.2px white;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gray;
    overflow-x: hidden;
  }
  
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
    transition: 0.5s;
  }
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
  }



/*-------------------*/

.main{
    display: flex;
    flex-direction: row;  
    margin-left: 10%;
    height: 100%; 
}

/*-------------------------*/

/*toda parte de perfil */
.profile{
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

.profile-img{
    height: 200px;
    width: fit-content;
    border-radius: 100%;
    align-self: center;
    margin-top: 15%;
    margin-bottom: 5%;
}

.profile-text{
    display: flex;
    flex-direction: column;
    border-bottom: solid white 0.05px;
}

.title-profile{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: white;
    align-self: center;
}

.subtitle-profile{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: white;
    align-self: center;
    margin-bottom: 50px;
}

.contatos{
    border-top: 0.2px white;
    margin-top: 10%;
    margin-left: 15%;
}

.contacts-text{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: white;
}

.nav-contatos {
    display: flex;
    flex-direction: row;
    gap: 4%;
}



/*-------------------------*/

/*toda parte do sobre mim*/
.sobre-mim {
    background-color: lightgray;
    width: 60%;
}

.sobre-mim-titulo{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 50px;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 10%;
}

.sobre-mim-texto{
    font-family: 'Oswald', sans-serif;
    font-weight:200;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: justify;  
}

/*-------------------------------------
/* Style all font awesome icons */
.contatos-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    background: white;
    color: black;
  }
  
  /* Add a hover effect */
  .contatos-icon:hover {
    opacity: 0.7;
  }
  
